#name {
  font-family: Helvetica, sans-serif;
  font-size: 75px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #525252;
}

* {
  background-color: #f1f1f1;
  font-family: Helvetica, sans-serif;
}

.nav {
  list-style-type: none;
  margin: 30px;
  /*font-family: Garamond, serif;*/
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

.sign-out {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  color: #525252;
}

.user {
  height: auto;
}
.nav li {
  float: left;
  padding: 10px;
}

.nav li a {
  padding: 12px 15px;
  display: block;
  text-align: center;
  border-radius: 20px;
  color: #525252;
  text-decoration: none;
}

.nav li a.active {
  color: white;
  background-color: #7ac1c4;
}
.nav li a:hover:not(.active) {
  background-color: #b4d7d9
}

.nav li a:active {
  color: white;
  background-color: #7ac1c4;
}

#intro {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #525252;
  text-align: center;
  display: block;
  max-width: 500px;
  margin: auto;
  padding-top: 30px;
}

.content-middle {
  text-align:center;

}

.input {
  border-radius: 30px;
  background-color: #DCDCDC;
  border: none;
  height: 30px;
  width: 30%;
  padding-left: 10px;
}

.input-textarea {
  background-color: #DCDCDC;
  border: none;
  height: auto;
  width: 30%;
  resize: none;
  font-family: Helvetica, sans-serif;
  background-color: #DCDCDC;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 5px;

}

.form {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #525252;
  height: auto;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  padding: 0px;
  text-align:center;
}

:focus {
    outline: 0 !important;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 10px;
}

label {
  padding-right: 15px;
  text-align: right;
  margin-right:15px;
  width: 270px;
}

.button1 {
  margin-top: 20px;
  border-radius: 30px;
  background-color: #7ac1c4;
  border: none;
  height: 35px;
  width: 100px;
  color: white;
}
.button1.active {
  color: white;
  background-color: #7ac1c4;
}
.button1:hover {
  background-color: #b4d7d9
}

.button1:active {
  color: white;
  background-color: #a2c1c3;
}

.error {
  color: #b20000;
}

#title {
  font-family: Helvetica, sans-serif;
  font-size: 25px;
  color: #525252;
  text-align: center;
  display: block;
  max-width: 500px;
  margin: auto;
}

.todo {
  padding-bottom: 10px;
  display: block;
  background-color: white;

}

.title-input {
  border: none;
  height: 30px;
  width: 70%;
  padding-bottom: 10px;
  background-color: white;
}

.notes-input {
  color:#808080;
  background-color: none;
  border: none;
  height: 30px;
  width: 56%;
  resize: none;
  font-family: Helvetica, sans-serif;
  background-color: white;
}

.todo-list {
 margin: auto;
 text-align: center;
 width: inherit;
 flex-direction: column;
 align-items: center;
 padding: 5px;
 border-radius: 30px;
 /* border: 1px solid black; */
 background-color: white;
}

.todo-item {
 display: flex;
 padding: 5px 20px 0px;
 align-items: center;
 font-size: 15px;
 justify-content: flex-start;
 text-align: left;
 margin-bottom: 20px;
 margin-left: 20px;
 margin-right: 20px;
 background-color: white;
}

.todo-writing {
  padding-left: 30px;
  width: 100%;
  background-color: white;
}

.heading {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #525252;
  width: 85%;
  display: inline-block;
  background-color: white;
}

.notes {
  font-family: Helvetica, sans-serif;
  font-size:15px;
  color: #525252;
  width: 100%;
  background-color: white;
}

.button2 {
  margin-top: 20px;
  border-radius: 30px;
  border-color: #525252;
  border-width: thin;
  height: 25px;
  width: 80px;
  color: #525252;
  background-color: white;
}

.button3 {
  color: #525252;
  border: none;
}

.button4 {
  color: #525252;
  border: none;
  display: inline-block;
  background-color: white;

}

.link:active {
  color: #525252;
  text-decoration: none;
}

.link:visited {
  color: #525252;
  text-decoration: none;
}

.link {
  color: #525252;
  text-decoration: none;
}


.grid-container {
  padding-top: 50px;
  display: grid;
  grid-column-gap: 0px;
  grid-template-columns: auto auto auto;
  padding: auto;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.grid-item {
  width: auto;
  height: auto;
  border-radius: 30px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 30px;
  text-align: center;
  border: 1px solid black;
}

.container:hover .overlay {
  opacity: 0.8;
}

.container {
  position: relative;
  width: 100%;
}

h3 {
  font-family: Helvetica, sans-serif;
  font-size: 35px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #525252;
  font-weight: lighter;
  background-color: white;
}
