#name {
  font-family: Helvetica, sans-serif;
  font-size: 75px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #525252;
}

* {
  background-color: #f1f1f1;
}

.nav {
  list-style-type: none;
  margin: 30px;
  /*font-family: Garamond, serif;*/
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

.nav li {
  float: left;
  padding: 10px;
}

.nav li a {
  padding: 12px 15px;
  display: block;
  text-align: center;
  border-radius: 20px;
  color: #525252;
  text-decoration: none;
}

.nav li a.active {
  color: white;
  background-color: #7ac1c4;
}
.nav li a:hover:not(.active) {
  background-color: #b4d7d9
}

.nav li a:active {
  color: white;
  background-color: #7ac1c4;
}

#intro {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #525252;
  text-align: center;
  display: block;
  max-width: 500px;
  margin: auto;
  padding-top: 30px;
}

.input {
  border-radius: 30px;
  background-color: #DCDCDC;
  border: none;
  height: 30px;
  width: 30%;
  padding-left: 10px;
}

.form {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #525252;
  height: auto;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  padding: 0px;
  text-align:center;
}

:focus {
    outline: 0 !important;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

label {
  float:left;
  padding-right: 15px;
  text-align: right;
  margin-right:15px;
  width: 100px;
}

.button1 {
  margin-top: 20px;
  border-radius: 30px;
  background-color: #7ac1c4;
  border: none;
  height: 35px;
  width: 100px;
  color: white;
}

.error {
  color: #b20000;
}

#title {
  font-family: Helvetica, sans-serif;
  font-size: 25px;
  color: #525252;
  text-align: center;
  display: block;
  max-width: 500px;
  margin: auto;
}

.todo {
  padding-bottom: 10px;
  display: block;
}

.title-input {
  background-color: none;
  border: none;
  height: 30px;
  width: 70%;
  padding-bottom: 10px;
}

.notes-input {
  color:#808080;
  background-color: none;
  border: none;
  height: 30px;
  width: 56%;
  resize: none;
  font-family: Helvetica, sans-serif;
}

.todo-list {
 margin: auto;
 text-align: center;
 width: 600px;
 flex-direction: column;
 align-items: center;
 padding: 5px;
}

.todo-item {
 display: flex;
 padding: 5px 20px 0px;
 align-items: center;
 font-size: 15px;
 justify-content: flex-start;
 text-align: left;
 margin-bottom: 30px;
 margin-left: 20px;
 margin-right: 20px;
}

.todo-writing {
  padding-left: 30px;
}

.heading {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #525252;
}

.notes {
  font-family: Helvetica, sans-serif;
  font-size:15px;
  color: #525252;
}

.button2 {
  margin-top: 20px;
  border-radius: 30px;
  border-color: #525252;
  border-width: thin;
  height: 25px;
  width: 80px;
  color: #525252;
}
