#name {
  font-family: Helvetica, sans-serif;
  font-size: 75px;
  text-align: center;
  margin-top: 50px;
  color: #525252;
}

* {
  background-color: #f1f1f1;
}

.nav {
  list-style-type: none;
  margin: 30px;
  /*font-family: Garamond, serif;*/
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

.nav li {
  float: left;
  padding: 10px;
}

.nav li a {
  padding: 12px 15px;
  display: block;
  text-align: center;
  border-radius: 20px;
  color: #525252;
  text-decoration: none;
}

.nav li a.active {
  color: white;
  background-color: #7ac1c4;
}
.nav li a:hover:not(.active) {
  background-color: #b4d7d9
}

.nav li a:active {
  color: white;
  background-color: #7ac1c4;
}

#intro {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #525252;
  text-align: center;
  display: block;
  max-width: 500px;
  margin: auto;
  padding-top: 30px;
}
